updates.cache
node_modules
favicon
plans
data

.contextignore

docs/superpowers/

CODEBASE.md
*.log
*.old
.env
*.exe
docker-compose.yml
docker-compose-agent.yml
dockgo/dockgo
tmp

.gocache/
.codesight
.kilo
.commandcode